$black: #0F172A;
$secondaryBlack: #334155;
$lightBlack: #475569;
$lighterBlack: #64748B;
$white: #FFFFFF;
$background: #F8FAFC;
$secondaryBack: #F1F5F9;
$divider: #E2E8F0;
$light: #CBD5E1;
$darkBack: #94A3B8;
$success: #10B981;
$greenLight: #ECFDF5;
$warning: #FFB649;
$danger: #EF4444;
$redLight: #FEF2F2;
$code: #818CF8;
$primary: #7E4BBA;

$mobile: 375px;
$tablet: 768px;
$laptop: 1048px;
